<div class="container">
  <div class="aboutContainer">
    <h2>
      <span
        class="headingMain"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
        >À propos de moi</span
      >
      <span
        class="headingSub"
        data-aos="fade-up"
        data-aos-delay="150"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        Ici, vous trouverez davantage d'informations sur moi, ce que je fais, et mes compétences actuelles, principalement en termes de programmation et de technologie.
      </span>
    </h2>
    <div class="aboutContent">
      <div class="aboutContentMain">
        <h3
          class="aboutContentTitle"
          data-aos="fade-down-right"
          data-aos-delay="160"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          Découvrez-moi !

        </h3>
        <div class="aboutContentDetails">
          <p
            class="aboutContentDetailsPara"
            data-aos="fade-up-right"
            data-aos-delay="180"
            data-aos-duration="1000"
            data-aos-easing="ease forwards"
            data-aos-offset="100"
            data-aos-once="true"
          >
            Je suis un
            <strong>développeur web Full-Stack </strong> passionné et engagé, avec une expérience significative dans la création d'applications web <strong>robustes</strong> et
            <strong>évolutives</strong>. Bien que je ne sois pas encore un expert en Java, je possède des compétences solides dans les technologies front-end et back-end, notamment <strong>Java, Spring Boot et
            Angular</strong>.Avec un sens aigu du design et un engagement envers un code propre et efficace, je m'efforce de fournir des expériences utilisateur exceptionnelles. Je suis à l'aise avec la résolution de problèmes et apprécie la collaboration avec des équipes transversales pour offrir des solutions innovantes. Je suis enthousiaste à l'idée de continuer à développer mes compétences et de relever de nouveaux défis dans le domaine du développement Full Stack.
          </p>
          <p
            class="aboutContentDetailsPara"
            data-aos="fade-up-left"
            data-aos-delay="180"
            data-aos-duration="1000"
            data-aos-easing="ease forwards"
            data-aos-offset="100"
            data-aos-once="true"
          >
            Je suis ouvert aux opportunités de  <strong>stage PFE</strong> où je peux contribuer, apprendre et évoluer. Si vous avez une bonne opportunité qui correspond à mes compétences et à mon expérience, n'hésitez pas à me<strong> contacter</strong>.
          </p>
        </div>
        <div
          class="btn"
          data-aos="fade-up"
          data-aos-delay="200"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          <button mat-raised-button (click)="redirectToContct()">
            Contacter
          </button>
        </div>
      </div>
      <div class="aboutContentSkills">
        <h3
          class="aboutContentTitle"
          data-aos="fade-down-left"
          data-aos-delay="160"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          Mes compétences
        </h3>
        <div
          class="skills"
          data-aos="fade-up-left"
          data-aos-delay="180"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/html.png"
              id="html"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/css.png"
              id="css"
            />
          </div>
          <div class="skillsIcon">
            <img
            class="imgResponsive"
            src="../../../assets/skills/js.png"
            id="js"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/scss.webp"
              id="scss"
            />
          </div>
          <div class="skillsIcon">
            <img class="imgResponsive" src="../../../assets/skills/Java.jpg" />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/bootstrap.png"
              id="bootstrap"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/spring-boot.png"
              id="spring boot"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/angular.png"
              id="angular"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/github.png"
              id="github"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/TypeScript.png"
              id="TypeScript"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/sql.png"
              id="SQL"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/Postgresql.png"
              id="postgres"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/grafana.png"
              id="grafana"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/redis.png"
              id="redis"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/docker.png"
              id="docker"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/outsystem.png"
              id="outsystem"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
