<div class="container">
  <div class="headerContainer">
    <mat-toolbar class="header">
      <div class="headerLogo">
        <div
          class="home-img"
          data-aos="flip-down"
          data-aos-easing="ease-in"
          data-aos-duration="1000"
          data-aos-delay="300"
        >
          <div class="img-circle">
            <span></span>
            <span></span>
            <div class="image">
<!--              <img src="../../../assets/img/icon.png" alt="" />-->
            </div>
          </div>
        </div>
        <p class="navTitle">Anas Bensaid</p>
      </div>

      <span class="spacer"></span>
      <div class="navItems" *ngIf="!isMobile">
        <ul>
          <li>
            <button (click)="redirectToHome()" style="--i: 1">Accueil</button>
          </li>
          <li>
            <button (click)="redirectToAbout()" style="--i: 2">À propos</button>
          </li>
          <li>
            <div class="btn">
              <button (click)="redirectToProjects()"><span></span> Projets</button>
            </div>
          </li>
          <li>
            <button (click)="redirectToContact()" style="--i: 4">Contact</button>
          </li>
        </ul>
      </div>
      <div
        id="humMenu"
        (click)="toggleSidenav()"
        [class.openMenu]="isMenuOpen"
        *ngIf="isMobile"
      >
        <span></span>
        <span></span>
        <span></span>
      </div>
    </mat-toolbar>
  </div>
</div>
